.angular-config.json
.bash_history
.bash_logout
.bashrc
.cache
.dotnet
.lesshst
.local
.nvm
.profile
.ssh
.sudo_as_admin_successful
.vscode_server
.wget-hsts
.config/
.npm/
.vscode-server/
.editorconfig
.vscode
output.log
