<div class="home-container m-auto overflow-auto px-2">
	<div class="my-2 w-[35%]">
		<div class="relative">
			<div class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3">
				<svg
					class="h-3.5 w-3.5 text-gray-500 dark:text-gray-400"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 20 20"
				>
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
					/>
				</svg>
			</div>
			<input
				type="text"
				id="default-search"
				[(ngModel)]="listFilter"
				class="block w-full rounded-md border border-black bg-gray-50 p-1 ps-5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
				placeholder="Buscar..."
			/>
		</div>
	</div>

	<div class="overflow-y relative h-screen overflow-auto shadow-md sm:rounded-lg">
		<table class="relative mb-10 w-full text-left text-[0.6rem] font-bold rtl:text-right dark:text-gray-400">
			<thead
				class="sticky top-0 bg-indigo-200 text-center text-[0.65rem] uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400"
			>
				<tr>
					<th scope="col" rowspan="2" class="sticky top-0 px-1 pt-2">Operador</th>
					<th scope="col" rowspan="2" class="sticky top-0 px-1 pt-2">ID Operador</th>
					<th scope="col" class="sticky top-0 px-1 pt-2">ID Servicio</th>
					<th scope="col" rowspan="2" class="sticky top-0 px-1 pt-2">Cliente</th>
					<th scope="col" rowspan="2" class="sticky top-0 px-1 pt-2">Dirección</th>
					<th scope="col" class="sticky top-0 px-1 pt-2">Capacidad</th>
					<th scope="col" class="sticky top-0 px-1 pt-2">Orden de</th>
					<th scope="col" rowspan="2" class="sticky top-0 px-1 pt-2">Vigente</th>
					<th scope="col" rowspan="2" class="sticky top-0 px-1 pt-2">Moneda</th>
					<th scope="col" colspan="2" class="sticky top-0 px-1">{{ meses[3] }}</th>
					<th scope="col" colspan="2" class="sticky top-0 px-1">{{ meses[2] }}</th>
					<th scope="col" colspan="2" class="sticky top-0 px-1">{{ meses[1] }}</th>
					<th scope="col" colspan="2" class="sticky top-0 px-1 ">{{ meses[0] }}</th>
				</tr>
				<tr>
					<th scope="col" class="sticky top-0 px-1">Orbyta</th>
					<th scope="col" class="sticky top-0 px-1">(mbps)</th>
					<th scope="col" class="sticky top-0 px-1">Compra</th>
                    <th scope="col" class="sticky top-0 px-1">Factura</th>
					<th scope="col" class="sticky top-0 px-1">Neto</th>
					<th scope="col" class="sticky top-0 px-1">Factura</th>
					<th scope="col" class="sticky top-0 px-1">Neto</th>
					<th scope="col" class="sticky top-0 px-1">Factura</th>
					<th scope="col" class="sticky top-0 px-1">Neto</th>
					<th scope="col" class="sticky top-0 px-1">Factura</th>
					<th scope="col" class="sticky top-0 px-1">Neto</th>
				</tr>
			</thead>
			<tbody>
				<tr
					*ngFor="let s of serviciosFiltrados()"
					class="overflow-hidden text-ellipsis whitespace-nowrap border-b bg-gray-50 hover:whitespace-normal hover:bg-slate-300 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-600"
                    (click)="openModal(s)"
                >
					<td class="max-w-40 overflow-hidden px-1 py-1">{{ s.nombre }}</td>
					<td class="max-w-28 overflow-hidden break-words px-2 py-1">{{ s.id_operador }}</td>
					<td class="max-w-24 overflow-hidden px-1 py-1 text-center">{{ s.id_servicio_orbyta }}</td>
					<td class="max-w-40 overflow-hidden px-1 py-1">{{ s.cliente }}</td>
					<td class="max-w-40 overflow-hidden px-1 py-1">{{ s.direccion }}</td>
					<td class="max-w-24 overflow-hidden px-1 py-1 text-center">{{ s.capacidad }}</td>
					<td class="max-w-40 overflow-hidden px-1 py-1 text-center">{{ s.orden_de_compra }}</td>
					<td class="max-w-40 overflow-hidden px-1 py-1">
						<span *ngIf="s.esta_vigente == '1'" class="si-vigente">Si</span>
						<span *ngIf="s.esta_vigente != '1'" class="no-vigente">No</span>
					</td>
					<td class="px-1 py-1 text-center">{{ s.moneda }}</td>
					<td class="px-1 py-1 text-center">{{ s.facturas[s.count - 4].factura }}</td>
					<td class="px-1 py-1 text-center">{{ s.facturas[s.count - 4].neto }}</td>
					<td class="px-1 py-1 text-center">{{ s.facturas[s.count - 3].factura }}</td>
					<td class="px-1 py-1 text-center">{{ s.facturas[s.count - 3].neto }}</td>
					<td class="px-1 py-1 text-center">{{ s.facturas[s.count - 2].factura }}</td>
					<td class="px-1 py-1 text-center">{{ s.facturas[s.count - 2].neto }}</td>
					<td class="px-1 py-1 text-center bg-slate-200">{{ s.facturas[s.count - 1].factura }}</td>
					<td 
                        class="px-1 py-1 text-center " 
                        [ngClass]="{'bg-red-200': s.facturas[s.count - 1].neto != s.facturas[s.count - 2].neto,
                             'bg-slate-200': s.facturas[s.count - 1].neto == s.facturas[s.count - 2].neto}"
                    >
                        {{ s.facturas[s.count - 1].neto }}
                    </td>
				</tr>
				<tr
					*ngIf="serviciosFiltrados().length === 0"
					class="border-b bg-white hover:bg-gray-50 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-600"
				>
					<td colspan="10">No hay servicios</td>
				</tr>
			</tbody>
		</table>
	</div>
    <app-modal-servicio *ngIf="showModal()"
             [data]="selectedServicio"
             (closeModal)="closeModal()">
    </app-modal-servicio>
</div>

