
main {
    width: 99vw;
    margin: 0.5rem auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 50vw;
    padding: 0.2rem;
}

nav a {
    padding: 0.2rem;
    text-decoration: none;
    color: var(--primary-purple);
    font-weight: 500;
    border-bottom: #5681FF 3px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


nav a:hover {
    background-color: var(--light-blue);
}